html,body {
  width: 100%;
  height: 100%;
  background-color: #150101;
}
* { padding: 0; margin: 0; }

#__plasmo {
  width: 100%;
  height: 100%;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.login-wrapper.no-login {
  justify-content: center;
}

.login-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.module-title {
  font-size: 22px;
  font-weight: 500;
  line-height: 30.8px;
  text-align: left;
  margin: 30px 0 20px 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.main-flex :where(.css-dev-only-do-not-override-1m2bkf9).ant-card,
.main-flex :where(.css-1m2bkf9).ant-card {
  background: #1e1e1e;
  color: #fff;
  border-color: #1e1e1e;
}

.main-flex .m-description {
  color: #ffffff73;
  width: 70%;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}

.login-inner h2 {
  color: #ff4d4f;
  margin-bottom: 10px;
}
.login-inner h2 img {
  width: 32px;
  vertical-align: middle;
  margin-right: 10px;
}
.login-inner h1 {
  color: #fff;
  text-align: center;
  font-size: 32px;
}

.card-fix {
  width: 100%;
  border-radius: 0;
  border: 0;
}

.card-fix .ant-card-body {
  padding: 10px;
  background: #150101;
  color: #ffffff73;
  border-radius: 0;
  border-bottom: 1px solid #1e1e1e;
}

/* 分步 */
:where(.css-1m2bkf9).ant-steps .ant-steps-item-wait>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title,
:where(.css-dev-only-do-not-override-1m2bkf9).ant-steps .ant-steps-item-wait>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title {
  color: #ff4d4f;
}

:where(.css-1m2bkf9).ant-steps .ant-steps-item-subtitle,
:where(.css-dev-only-do-not-override-1m2bkf9).ant-steps .ant-steps-item-subtitle {
  color: #fff;
}

:where(.css-1m2bkf9).ant-steps .ant-steps-item-wait>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-description,
:where(.css-dev-only-do-not-override-1m2bkf9).ant-steps .ant-steps-item-wait>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-description {
  color: #ffffff73
}

:where(.css-1m2bkf9).ant-steps.ant-steps-navigation .ant-steps-item::after,
:where(.css-dev-only-do-not-override-1m2bkf9).ant-steps.ant-steps-navigation .ant-steps-item::after {
  border-color: #ffffff73;
}

:where(.css-1m2bkf9).ant-steps.ant-steps-navigation .ant-steps-item::before,
:where(.css-dev-only-do-not-override-1m2bkf9).ant-steps.ant-steps-navigation .ant-steps-item::before {
  height: 0;
}

:where(.css-dev-only-do-not-override-1m2bkf9).ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):hover, 
:where(.css-dev-only-do-not-override-1m2bkf9).ant-btn-variant-dashed:not(:disabled):not(.ant-btn-disabled):hover{
  color: rgba(0,0,0,0.88);
  border-color: #d9d9d9;
  background-color:#d9d9d9;
}

:where(.css-1m2bkf9).ant-btn-variant-solid,
:where(.css-dev-only-do-not-override-1m2bkf9).ant-btn-variant-solid {
  background: #ff4d4f;
}

:where(.css-1m2bkf9).ant-btn-variant-solid:not(:disabled):not(.ant-btn-disabled):hover,
:where(.css-dev-only-do-not-override-1m2bkf9).ant-btn-variant-solid:not(:disabled):not(.ant-btn-disabled):hover {
  background: #ff7875;
}

.show-main-pic {
  margin: 10px auto 40px;
  width: 60%;
  border-radius: 4px;
}