html,body {
  width: 100%;
  height: 100%;
  background-color: #150101;
}
* { padding: 0; margin: 0; }

#__plasmo {
  width: 100%;
  height: 100%;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.login-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.module-title {
  font-size: 22px;
  font-weight: 500;
  line-height: 30.8px;
  text-align: left;
  margin: 30px 0 20px 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.main-flex :where(.css-dev-only-do-not-override-1m2bkf9).ant-card,
.main-flex :where(.css-1m2bkf9).ant-card {
  background: #1e1e1e;
  color: #fff;
  border-color: #1e1e1e;
}

.login-inner h2 {
  color: #ff4d4f;
  margin-bottom: 10px;
}
.login-inner h2 img {
  width: 32px;
  vertical-align: middle;
  margin-right: 10px;
}
.login-inner h1 {
  color: #fff;
  text-align: center;
  margin: 15px 0;
  font-size: 32px;
}


/* 分步 */
:where(.css-1m2bkf9).ant-steps .ant-steps-item-wait>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title,
:where(.css-dev-only-do-not-override-1m2bkf9).ant-steps .ant-steps-item-wait>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title {
  color: #ff4d4f;
}

:where(.css-1m2bkf9).ant-steps .ant-steps-item-subtitle,
:where(.css-dev-only-do-not-override-1m2bkf9).ant-steps .ant-steps-item-subtitle {
  color: #fff;
}

:where(.css-1m2bkf9).ant-steps .ant-steps-item-wait>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-description,
:where(.css-dev-only-do-not-override-1m2bkf9).ant-steps .ant-steps-item-wait>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-description {
  color: #ffffff73
}

:where(.css-1m2bkf9).ant-steps.ant-steps-navigation .ant-steps-item::after,
:where(.css-dev-only-do-not-override-1m2bkf9).ant-steps.ant-steps-navigation .ant-steps-item::after {
  border-color: #ffffff73;
}

:where(.css-1m2bkf9).ant-steps.ant-steps-navigation .ant-steps-item::before,
:where(.css-dev-only-do-not-override-1m2bkf9).ant-steps.ant-steps-navigation .ant-steps-item::before {
  height: 0;
}