html,body {
  width: 100%;
  height: 100%;
  background-color: #fff;
}
* { padding: 0; margin: 0; }

#__plasmo {
  width: 100%;
  height: 100%;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.login-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.module-title {
  font-size: 22px;
  font-weight: 500;
  line-height: 30.8px;
  text-align: left;
  margin: 30px 0 20px 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
}